name: 'financial_service'

services:
  
  domic.financial.service:
    networks:
      - domic
    image: domic_financial_service_image:1.0.0
    container_name: "domic_financial_service"
    build:
      context: .
      dockerfile: Dockerfile
    restart: on-failure
    ports:
      - "1369-1389:443"
    volumes:
      - ~/services/Logs/Domic-FinancialService/:/app/CoreLogs/
      - ~/services/Domic-FinancialService/.https/:/https/
    environment:
      - Elastic-Host=http://localhost:9200
      - Elastic-Username=domic
      - Elastic-Password=Domic123!@#
      - Elastic-Index=financial
      - E-RabbitMQ-Host=domic.rabbit.mq
      - E-RabbitMQ-Port=5672
      - E-RabbitMQ-Username=domic
      - E-RabbitMQ-Password=Domic123!@#
      - I-RabbitMQ-Host=
      - I-RabbitMQ-Port=
      - I-RabbitMQ-Username=
      - I-RabbitMQ-Password=
      - E-RedisConnectionString=domic.redis:6379
      - I-RedisConnectionString=domic.redis:6379
#     - I-RedisConnectionString=domic.financial.redis:6379
      - MongoConnectionString=
      - C-SqlServerConnectionString=Server=domic.sql.server,1433;Database=FinancialService;User ID=sa;Password=Domic123!@#;Persist Security Info=True;MultipleActiveResultSets=True;TrustServerCertificate=True;
#     - C-SqlServerConnectionString=Server=domic.financial.command.sql.server,1433;Database=FinancialService;User ID=sa;Password=Domic123!@#;Persist Security Info=True;MultipleActiveResultSets=True;TrustServerCertificate=True;
      - Q-SqlServerConnectionString=Server=
      - ZarinPalUrl=${ZarinPalUrl}
      - ZarinPalVerificationUrl=${ZarinPalVerificationUrl}
      - ZarinPalCallbackUrl=${ZarinPalCallbackUrl}
      - ZarinPalMerchentId=${ZarinPalMerchentId}
      - Host=domic.financial.service
      - Port=443
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_Kestrel__Certificates__Default__Password=Domic123!@#
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/Domic.WebAPI.pfx
    
#   depends_on:
#     - domic.financial.command.sql.server
#     - domic.financialnancial.redis
  
# domic.financial.command.sql.server:
#   networks:
#     - domic
#   image: 'mcr.microsoft.com/mssql/server'
#   container_name: "domic_financial_command_sql_server"
#   ports:
#     - 1833:1433
#   environment:
#     - ACCEPT_EULA=Y
#     - SA_PASSWORD=Domic123!@#

# domic.financial.redis:
#   networks:
#     - domic
#   image: 'redis'
#   container_name: 'domic_financial_redis'
#   command: 'redis-server'
#   ports:
#     - 9080:6379
    
networks:
  domic:
    external: true